#edu>div.icon{  background-image: url('../icon/about-edu.png');}
#exp>div.icon{  background-image: url('../icon/about-exp.png');}
#tour>div.icon{  background-image: url('../icon/about-tour.png');}
#skill>div.icon{  background-image: url('../icon/about-skill.png');}
#quali>div.icon{  background-image: url('../icon/about-quali.png');}
#close {    background-image: url("../icon/close.png");}
#prev {    background-image: url("../icon/prev.png");}
#next {    background-image: url("../icon/next.png");}
#product {      background-image: url(../icon/visual_product.png);  }
#product-1 {    background-image: url('../img/visual-01.jpg');}
#product-2 {    background-image: url(../img/visual-02.jpg);}
#product-3 {    background-image: url('../img/visual-03.jpg');}
#product-4 {    background-image: url('../img/visual-04.jpg');}
#product-5 {    background-image: url('../img/visual-05.jpg');}
#product-6 {    background-image: url('../img/visual-06.jpg');}
#product-7 {    background-image: url('../img/visual-07.jpg');}
#modeling {    background-image: url('../icon/visual_modeling.png');}
#modeling-1 {    background-image: url('../img/visual-08.jpg');}
#modeling-2 {    background-image: url('../img/visual-09.jpg');}
#sketch {    background-image: url('../icon/visual_sketch.png');}
#sketch-1 {    background-image: url('../img/visual-10.jpg');}
#sketch-2 {    background-image: url('../img/visual-11.jpg');}
#sketch-3 {    background-image: url('../img/visual-12.jpg');}
#sketch-4 {    background-image: url('../img/visual-13.jpg');}
#sketch-5 {    background-image: url('../img/visual-14.jpg');}
#sketch-6 {    background-image: url('../img/visual-15.jpg');}
#sketch-7 {    background-image: url('../img/visual-16.jpg');}
#sketch-8 {    background-image: url('../img/visual-17.jpg');}
#photo {    background-image: url('../icon/visual_photo.png');}
#photo-1 {background-image: url('../img/photo/p1.jpg');}
#photo-2 {background-image: url('../img/photo/p2.jpg');}
#photo-3 {background-image: url('../img/photo/p3.jpg');}
#photo-4 {background-image: url('../img/photo/p4.jpg');}
#photo-5 {background-image: url('../img/photo/p5.jpg');}
#photo-6 {background-image: url('../img/photo/p6.jpg');}
#photo-7 {background-image: url('../img/photo/p7.jpg');}
#photo-8 {background-image: url('../img/photo/p8.jpg');}
#photo-9 {background-image: url('../img/photo/p9.jpg');}
#photo-10 {background-image: url('../img/photo/p10.jpg');}
#photo-11 {background-image: url('../img/photo/p11.jpg');}
#photo-12 {background-image: url('../img/photo/p12.jpg');}
#photo-13 {background-image: url('../img/photo/p13.jpg');}
#photo-14 {background-image: url('../img/photo/p14.jpg');}
#web {    background-image: url('../icon/visual_web.png');}
#web-1 {    background-image: url('../img/web-1.jpg');}
#profile-download{ background: url(../icon/download.png);}
#down {
    background-image: url(../icon/down.png);
}
